nodejs 20.19.3
# If you update these versions, be sure to update the Docker file too
erlang 25.3.2.9
elixir 1.18.3-otp-25
yarn 1.22.10
# NOTE: This version is pinned to match the version used in Terraform Cloud to
# actually execute work. If you're updating this version, please ensure it
# stays in sync with versions defined in Cloud and in CI
terraform 1.11.2
