/* TODO(KNO-12330): Include manually for now until telegraph style engine is
* able to compile automatically with components in the monorepo setup */
@import "@telegraph/toggle/default.css";
@telegraph tokens;
@telegraph components;

/* Animation effect for toolbar V2 when expanding and collapsing. */
@keyframes toolbar-collapse-fade-in {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes toolbar-expand-fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
