:root {
  --slack-connect-connected-color: rgba(51, 163, 102, 1); /* Green */
  --slack-connect-disconnect-border-color: rgba(230, 71, 51, 1); /* Red */
  --slack-connect-disconnect-background-color: rgba(
    255,
    245,
    245,
    1
  ); /* Light red background */
  --slack-connect-border-color: #dddee1; /* Light grey */
  --slack-connect-background-color: #fff; /* White */
  --slack-connect-font-family: Inter, sans-serif;
  --slack-connect-default-color: #000; /* Black */
  --slack-connect-disconnected-hover-color: rgba(247, 247, 248, 1);
  --slack-connect-error-color: rgba(205, 123, 46, 1);
  --slack-connect-text-loading-color: rgba(158, 160, 170, 1);
  --slack-connect-border-loading-color: rgba(228, 232, 238, 1);
}

.rnf-slackConnect-button {
  background-color: var(--slack-connect-background-color);
  border: 1px solid var(--slack-connect-border-color);
  border-radius: 6px;
  box-sizing: border-box;
  color: var(--slack-connect-default-color);
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 8px;
  text-decoration: none;
  font-family: var(--slack-connect-font-family);
  gap: 8px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.rnf-slackConnect-button--connected {
  color: var(--slack-connect-connected-color);
  border-color: var(--slack-connect-connected-color);
}

.rnf-slackConnect-button--error {
  color: var(--slack-connect-error-color);
  border-color: var(--slack-connect-error-color);
}

.rnf-slackConnect-button--loading {
  color: var(--slack-connect-text-loading-color);
  border-color: var(--slack-connect-border-loading-color);
  pointer-events: none;
}

/* Hover state for both the button and text when in connected state*/
.rnf-slackConnect-button--disconnected:hover {
  background-color: var(--slack-connect-disconnected-hover-color);
}

/* Hover state for both the button and text when in connected state*/
.rnf-slackConnect-button--connected:hover,
.rnf-slackConnect-text--connected:hover {
  color: var(--slack-connect-disconnect-border-color);
  border-color: var(--slack-connect-disconnect-border-color);
  background-color: var(--slack-connect-disconnect-background-color);
}

/* Hover state for both the button and text when in error state */
.rnf-slackConnect-button--error:hover,
.rnf-slackConnect-text--error:hover {
  color: var(--slack-connect-default-color);
  border-color: var(--slack-connect-default-color);
}

/* Active state for the button */
.rnf-slackConnect-button:active {
  transform: translate(1px, 1px);
}
