:root {
  --rsk-connected-color: rgba(51, 163, 102, 1);
  --rsk-disconnect-border-color: rgba(230, 71, 51, 1);
  --rsk-disconnect-background-color: rgba(255, 245, 245, 1);
  --rsk-error-red: rgba(205, 123, 46, 1);
}

.rsk-connect__button {
  background-color: var(--rsk-color-white);
  border: 1px solid var(--rsk-color-gray-200);
  border-radius: var(--rsk-button-border-radius);
  box-sizing: border-box;
  color: var(--rsk-color-black);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--rsk-font-family-sanserif);
  font-size: var(--rsk-font-size-sm);
  font-weight: var(--rsk-font-weight-normal);
  gap: var(--rsk-spacing-2);
  padding: var(--rsk-spacing-1) var(--rsk-spacing-2);
  text-decoration: none;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.rsk-connect__button--connected {
  border-color: var(--rsk-connected-color);
  color: var(--rsk-connected-color);
}

.rsk-connect__button--error {
  border-color: var(--rsk-error-red);
  color: var(--rsk-error-red);
}

.rsk-connect__button--loading {
  border-color: var(--rsk-color-gray-100);
  color: var(--rsk-color-gray-400);
  pointer-events: none;
}

.rsk-connect__button--disconnected:hover {
  background-color: var(--rsk-button-hover-color);
}

.rsk-connect__button--connected:hover,
.rsk-connect__button__text--connected:hover {
  background-color: var(--rsk-disconnect-background-color);
  border-color: var(--rsk-disconnect-border-color);
  color: var(--rsk-disconnect-border-color);
}

.rsk-connect__button--error:hover,
.rsk-connect__button__text--error:hover {
  border-color: var(--rsk-color-black);
  color: var(--rsk-color-black);
}

.rsk-connect__button:active {
  transform: translate(1px, 1px);
}
