.slk-connect__toggle_switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 17px;
}

.slk-connect__toggle_switch__container {
	display: flex;
	align-items: center;
}

.slk-connect__toggle_switch__checkbox {
	opacity: 0;
	width: 0;
	height: 0;
}

.slk-connect__toggle_switch__toggle-background {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: 0.4s;
	border-radius: 17px;
}

.slk-connect__toggle_switch__toggle-background--toggled {
	background-color: rgba(51, 163, 102, 1);
}

.slk-connect__toggle_switch__toggle-background--untoggled {
	background-color: #ccc;
}

.slk-connect__toggle_switch__switch {
	position: absolute;
	height: 13px;
	width: 13px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	transition: 0.4s;
	border-radius: 50%;
}

.slk-connect__toggle_switch__switch--toggled {
	transform: translateX(13px);
}

.slk-connect__toggle_switch__switch--untoggled {
	transform: translateX(0);
}


.slk-connect__toggle_switch__text {
	padding-left: 4px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
}
