.rsk-auth {
	background: var(--rsk-color-white);
	border: 1px solid var(--rsk-color-gray-100);
	border-radius: var(--rsk-border-radius-lg);
	font-family: var(--rsk-font-family-sanserif);
	font-size: var(--rsk-font-size-sm);
	font-weight: var(--rsk-font-weight-normal);
	padding: var(--rsk-spacing-5);
	}

.rsk-auth__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.rsk-auth__title {
	color: rgba(26, 31, 54, 1);
	font-size: var(--rsk-font-size-md);
	line-height: var(--rsk-spacing-5);
	margin-top: var(--rsk-spacing-4);
}

.rsk-auth__description {
	color: rgba(81, 86, 105, 1);
	font-size: var(--rsk-font-size-sm);
	line-height: var(--rsk-spacing-5);
}
