.rnf-trigger-container {
  width: 256px;
}

.rnf-input-icon-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.rnf-input {
  padding-left: 0.5rem;
  width: 270px;
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.rnf-button {
  height: 24px;
  border-radius: 6px;
  border-color: #dddee1;
  background-color: #fff;
  color: #000;
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  padding: 8px;
  text-decoration: none;
  font-family: Inter, sans-serif;
  gap: 8px;
}

.rnf-button:hover {
  background-color: rgba(247, 247, 248, 1);
}

.rnf-input-with-icon {
  padding-left: 2rem;
  height: 32px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.rnf-input-error {
  background-color: rgba(255, 255, 240, 1);
  border: 1px solid rgba(247, 212, 102, 1);
}

.rnf-input-with-icon-error {
  background-color: rgba(255, 255, 240, 1);
  border: 1px solid rgba(247, 212, 102, 1);
  cursor: not-allowed;
}

.rnf-input-with-icon-error::placeholder {
  color: rgba(169, 88, 35, 1);
}

.rnf-input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #ccc;
}

.rnf-input-icon-error {
  color: rgba(247, 212, 102, 1);
}

.rnf-list-box {
  margin-top: 4px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  width: 286px;
  margin-left: 2rem;
  height: 223px;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow:
    0px 1px 2px 0px rgba(0, 0, 0, 0.06),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.rnf-channel-option {
  display: flex;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  background-color: white;
  border-width: 0px;
}

.rnf-channel-option:disabled {
  color: #3c4257;
  cursor: not-allowed;
}

.rnf-icon {
  display: flex;
  margin-right: 4px;
}

.rnf-disconnected-info-container {
  display: flex;
  width: 276px;
  padding: 0.5rem;
  align-items: flex-start;
  justify-content: center;
  margin-top: 0.25rem;
  background: rgba(228, 232, 238, 1);
  border-radius: 4px;
  gap: 4px;
}

.rnf-info-container-text {
  color: #3c4257;
  font-family: Inter, sans-serif;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.rnf-connect-channel-input-container {
  display: flex;
  gap: 4px;
  align-items: center;
}

.rnf-spinner {
  border: 1px solid #000000;
  border-radius: 50%;
  border-bottom: 1px solid transparent;
  width: 14px;
  height: 14px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
