.iam-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--iam-surface);
  padding: var(--knock-spacing-4) var(--knock-spacing-6);
  border-radius: var(--knock-rounded-4);
  border: 0.5px solid var(--iam-border);
  box-shadow: var(--knock-shadow-2);
  gap: var(--knock-spacing-4);
}
.iam-banner__message {
  min-width: var(--knock-spacing-96);
}
.iam-banner__title {
  color: var(--iam-content);
  font-size: var(--knock-text-4);
  font-weight: var(--knock-weight-medium);
  line-height: var(--knock-leading-4);
}
.iam-banner__body {
  color: var(--iam-content-light);
  font-size: var(--knock-text-3);
  font-weight: var(--knock-weight-regular);
  line-height: var(--knock-leading-3);
}
.iam-banner__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--knock-spacing-3);
}
.iam-banner__action {
  text-decoration: none;
  font-size: var(--knock-text-3);
  font-weight: var(--knock-weight-regular);
  line-height: var(--knock-leading-3);
  border-radius: var(--knock-rounded-3);
  padding: var(--knock-spacing-1) var(--knock-spacing-4);
  border: 0.5px solid var(--iam-accent);
  background: var(--iam-accent);
  color: var(--iam-content-contrast);
}
.iam-banner__action--secondary {
  border-color: var(--iam-border-dark);
  background: var(--iam-surface);
  color: var(--iam-content);
}
.iam-banner__close {
  padding: var(--knock-spacing-3);
  border: none;
  background: none;
  line-height: 0;
}
