@import "@telegraph/tokens/light";
@import "@telegraph/combobox/default.css";
@import "@telegraph/button/default.css";
@import "@telegraph/icon/default.css";
@import "@telegraph/layout/default.css";
@import "@telegraph/input/default.css";

.rtk-combobox__grid {
  width: 352px;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: var(--rtk-spacing-1);
  font-size: var(--rtk-font-size-sm);
  font-family: var(--rtk-font-family-sanserif);
}

/* Error */
.rtk-combobox__error {
  grid-column: span 2;
  align-items: flex-start;
  background-color: var(--rtk-color-gray-100);
  border-radius: var(--rtk-border-radius-md);
  display: flex;
  gap: var(--rtk-spacing-1);
  justify-content: center;
  padding: var(--rtk-spacing-2);
}

.rtk-combobox__error__text {
  color: var(--rtk-color-gray-700);
  font-size: var(--rtk-font-size-xs);
  line-height: normal;
}
