@import "@telegraph/tokens/default";
@import "@telegraph/button/default.css";
@import "@telegraph/icon/default.css";
@import "@telegraph/layout/default.css";
@import "@telegraph/input/default.css";
@import "@telegraph/combobox/default.css";
@import "@telegraph/menu/default.css";

.rtk-combobox__grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  gap: var(--rtk-spacing-1);
  font-size: var(--rtk-font-size-sm);
  font-family: var(--rtk-font-family-sanserif);
}

.rtk-combobox__menu {
  position: absolute;
  z-index: 10;
  background-color: var(--rtk-color-white);
  border: 1px solid var(--rtk-color-gray-500);
  border-radius: var(--rtk-border-radius-sm);
  padding: var(--rtk-spacing-2);
  list-style: none;
  max-height: 166px;
  overflow-y: scroll;
}

.rtk-combobox__label {
  padding: var(--rtk-spacing-1) 0;
  display: flex;
  align-items: center;
  gap: var(--rtk-spacing-1);
}

/* Error */
.rtk-combobox__error {
  grid-column: span 2;
  align-items: flex-start;
  background-color: var(--rtk-color-gray-100);
  border-radius: var(--rtk-border-radius-md);
  display: flex;
  gap: var(--rtk-spacing-1);
  justify-content: center;
  padding: var(--rtk-spacing-2);
}

.rtk-combobox__error__text {
  color: var(--rtk-color-gray-700);
  font-size: var(--rtk-font-size-xs);
  line-height: normal;
}

/* Tag */
.rtk-combobox__connected_channel_tag_list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--rtk-spacing-2);
  margin-top: var(--rtk-spacing-2);
  width: 286px;
  font-size: var(--rtk-font-size-sm);
  font-family: var(--rtk-font-family-sanserif);
  color: var(--rtk-color-gray-800)
}

.rtk-combobox__connected_channel_tag {
  align-items: center;
  background-color: var(--rtk-color-gray-100);
  border-radius: var(--rtk-border-radius-md);
  display: flex;
  gap: var(--rtk-spacing-1);
  max-width: 286px;
  padding: var(--rtk-spacing-1) var(--rtk-spacing-2) var(--rtk-spacing-1) var(--rtk-spacing-2);
}

.rtk-combobox__connected_channel_tag__delete_button,
.rtk-combobox__connected_channel_tag__text {
  display: flex;
}

.rtk-combobox__connected_channel_tag__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rtk-combobox__connected_channel_tag__chevron svg {
  display: block;
}

.rtk-combobox__connected_channel_tag__delete_button {
  background-color: unset;
  border-style: none;
  cursor: pointer;
  padding: 0.05rem 0rem 0rem 0rem;
}

.rtk-combobox__connected_channel_tag__delete_button:hover {
  background-color: var(--rtk-color-gray-200);
  border-radius: var(--rtk-border-radius-md);
}
