@import "@telegraph/tokens/light";
@import "@telegraph/typography/default.css";
@import "@telegraph/button/default.css";
@import "@telegraph/icon/default.css";
@import "@telegraph/layout/default.css";
@import "@telegraph/input/default.css";
@import "@telegraph/motion/default.css";

.rtk-combobox__grid {
  width: 352px;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  font-size: var(--rtk-font-size-sm);
  font-family: var(--rtk-font-family-sanserif);
}

/* Overrides Telegraph combobox defaults; using maxHeight prop on Combobox.Options does not work */
.rtk-combobox__options {
  overflow-y: auto !important;
  max-height: 144px !important;
}

/* MsTeamsTeamCombobox */
/* Prevents team name from overflowing input box */
.rtk-combobox__team__value span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Error */
.rtk-combobox__error {
  grid-column: span 2;
  align-items: flex-start;
  background-color: var(--rtk-color-gray-100);
  border-radius: var(--rtk-border-radius-md);
  display: flex;
  gap: var(--rtk-spacing-1);
  justify-content: center;
  padding: var(--rtk-spacing-2);
}
